# .gitignore file

# Ignore Mac system files
.DS_Store

# Ignore Python cache files/directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the bertweet_model directory
/backend/bertweet_model/

# Ignore specific directories for a Next.js app
**/node_modules
**/.next
node_modules/